[submodule "src/References/HtmlScraperLibrary"]
	path = src/References/HtmlScraperLibrary
	url = https://github.com/IchiSamaFR/HtmlScraperLibrary.git
[submodule "src/References/PasswordLibrary"]
	path = src/References/PasswordLibrary
	url = https://github.com/IchiSamaFR/PasswordLibrary.git
[submodule "src/References/PsychonautJournalLibrary"]
	path = src/References/PsychonautJournalLibrary
	url = https://github.com/IchiSamaFR/PsychonautJournalLibrary.git
[submodule "src/References/GameOfLifeLibrary"]
	path = src/References/GameOfLifeLibrary
	url = https://github.com/IchiSamaFR/GameOfLifeLibrary.git
[submodule "src/References/PathFinderLibrary"]
	path = src/References/PathFinderLibrary
	url = https://github.com/IchiSamaFR/PathFinderLibrary.git
